.newsList h1{
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #333;
    text-transform: uppercase;
}
.newsList {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
    gap: 16px; /* Espacio entre las columnas */
 
}