.nav{
    background-color: rgb(171, 242, 219);
    padding: 5px;
    border-radius: 8px;
}
.nav ul {
    list-style-type: none; 
    padding: 0 0 0 10px; 
    display: flex;
   
  }
  
  .nav li {
    margin-right: 20px; 
    
  }
  
  .nav a {
    text-decoration: none; 
    color: rgb(15, 15, 16);
  }
  
  .nav a:hover {
    color: rgb(98, 167, 227);
  }
  .category-trigger {
    cursor: pointer; /* Cambia el icono del cursor a una mano */
}
  .category-trigger:hover{
    color: rgb(0, 200, 255);
  }
  .dropdown {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 1rem;
}

